/*LEGENDA
Index:
1. Body 
2. Navbar
3. landingspage style
4. Looking for style
5. modeloverview.php style
6. model-page.php style
. Footer

Color & font
black #00000 , orange #F47a14 , white #fffff , grey #fbfbfb , Google font: Raleway
*/


body {
    font-family: 'Raleway';
    margin: 0;
}

/*NAVBAR*/

.container-navbar {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9rem;
    background: white;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
    z-index: 9999;
}

.navbar-fixed {
    position: fixed;
    top: 0;
}

.navbarFixed {
    position: fixed;
    width: 100%;
    top: 0;
}

.logo-navbar {
    width: 15%;
    margin-left: 5%;
    margin-right: 1%;
}

#navbar-logo-style {
    width: 60%;
    height: auto;
}

.items-navbar {
    margin-left: -1rem;
    width: 70%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    text-decoration: none;
    list-style: none;
    justify-content: space-evenly;
}   

.items-navbar li {
    padding-right: 2rem;
}

.items-navbar a {
    text-decoration: none;
    color: black;
}

.items-navbar a:hover{
    color: #F47a14;
}

.searchfield-navbar {
    width: 10%;
    margin-left: 1%;
    margin-right: 5%;
}

/*landingspage style*/

.index-header {
    margin-top: 5.1rem;
    width: 100%;
    height: 25rem;
    background-color: #f4f4f4;
    background-image: url(../img/img-landingpage/terraco-header.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.index-header-titel {
    width: 100%;
    margin-right: 5%;
    margin-left: 5%;
}

.index-header-titel h1 {
    margin-top: 1rem;
    font-size: 5rem;
    letter-spacing: 0.2rem;
    font-weight: bolder;
}  

.index-header-titel h3 {
    font-size: 2rem;
    margin-top: -3.5rem;
    margin-bottom: 6%;
    letter-spacing: 0.2rem;
    font-weight: bolder;
}  

.index-header-title {
    margin-right: 5%;
    width: 40%;
    height: 50vh;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Looking for style*/

.looking-for-title h3 {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-align: center;
}
.looking-for {
    width: 70%;
    height: 5rem;
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.looking-for-items {
    width: 21%;
    align-items: center;
}

.looking-for-middle-line {
    border: 0.6px solid grey;
    height: 100%;
    opacity: 0.5;
}

.looking-for-img {
    width: 70%;
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
}

.looking-for-img img {
    width: 100%;
    height: auto;
}

.looking-for-link-title {
    width: 100%;
    text-align: center;
    height: auto;
}

/*END Looking for style*/

/*model-overview.php style*/

/*title*/
.model-overview-title-container {
    width: 100%;
}

.model-overview-title {
    margin-top:  7%;
    margin-left: 5%;
    font-size: 3rem;
}
/*Filter-overview*/

#filter-overview {
    margin-left: 5%;
    width: 90%;
    /* height: 5rem; */
    background: #f9f9f9;
    display: none;
}

.filter-overview-title-and-close-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.filter-overview-filter-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.filter-overview-button-show-all {
    width: 50%;
}

.filter-overview-button-filter {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.filter-overview-button-filter button {
  
}


/*Productcard*/

.model-overview-productcard-container {
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.model-overview-productcard {
    width: 30%;
    height: auto;
    padding: 0.2rem;
    border-radius: 1%;
    margin: 1%;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    z-index: 10;
}

.opacity {
    opacity:0;
}

.productcard-title {
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.productcard-title h4 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.productcard-title p {
    margin-top: -1rem;
    letter-spacing: 0.1rem;
    font-size: 1vw;
}

.productcard-image {
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.productcard-image img {
    width: 100%;
    height: auto;
}

.productcard-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.productcard-footer-price {
    width: 90%;
    border-top: 1px solid #F47a14;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    font-size: 1.4rem;
}

.productcard-footer-button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

/*model-page.php style*/

.model-page-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.model-page-image {
    width: 100%;
    height: auto;
}

.model-page-image img {
    width: 100%;
    height: auto;
}

/*Black header section*/
.model-page-header {
    margin-top: -0.4rem;
    width: 100%;
    height: 15vw;
    background: black;
}

.model-page-header-price-button-section {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.model-page-header-title {
    color: white;
    font-size: 2vw;
    letter-spacing: 0.1rem;
    width: 50%;
    margin-left: 5%;
}

.model-page-header-price-section {
    color: white;
    margin-top: -2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-left: 5%;
}

.model-page-header-price {
    letter-spacing: 0.1rem; 
    width: 20%;  
    border-right: 0.09vh solid white;
}

.model-page-header-price h2 {
    font-size: 0.9vw;
}

.model-page-header-price h3{
    margin-top: -5%; 
    font-size: 1.8vw;
    color: #F47a14;
}

.model-price-header-button-section {
    width: 50%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.model-price-header-button {
    width: 70%;
}

/*model-page-info-section*/

.model-page-info-section {
    width: 100%;
    height: auto;
    background: #eae5e5;
    margin-top: -0.2rem;
    display: flex;
    flex-direction: row;
}

.model-page-info-menu-section {
    width: 40%;
    height: auto;
    margin-left: 5%;
    justify-content: center;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.model-page-info-menu-section-box {
    width: 30%;
    height: 100%;
}

.model-page-info-price-section {
    width: 60%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.model-page-info-price-section-box { 
    width: 30%;
    padding: 1rem;
}

/*END model-page-info-section*/


/*introduction*/
.model-page-car-introduction {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.model-page-car-introduction-image {
    width: 60%;
}

.model-page-car-introduction-image img {
    width: 100%;
    height: auto;
}

.model-page-car-introduction-textarea {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    letter-spacing: 0.1rem;
}

.model-page-car-introduction-textarea-text {
    width: 100%;
}

.model-page-car-introduction-textarea h1 {
    margin-top: -1vw;
    color: orange;
    font-size: 2.9vw;
}

.model-page-car-introduction-textarea h2 {
    color: grey;
    font-size: 1.5vw;
}

.model-page-car-introduction-textarea p {
    margin-top: -1.5vw;
    letter-spacing: 0.3;
    width: 80%;
}

/*CONNECTIVITY*/
.model-page-car-connectivity {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.model-page-car-connectivity-image {
    width: 60%;
}

.model-page-car-connectivity-image img {
    width: 100%;
    height: auto;
}

.model-page-car-connectivity-textarea {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    letter-spacing: 0.1rem;
    margin-left: 5%;
}

.model-page-car-connectivity-textarea-text {
    width: 100%;
}

.model-page-car-connectivity-textarea h1 {
    margin-top: -1vw;
    color: orange;
    font-size: 2.9vw;
}

.model-page-car-connectivity-textarea h2 {
    color: grey;
    font-size: 1.5vw;
}

.model-page-car-connectivity-textarea p {
    margin-top: -1.5vw;
    letter-spacing: 0.3;
    width: 80%;
}

/*audio*/
.model-page-car-audio {
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.model-page-car-audio-image {
    width: 60%;
}

.model-page-car-audio-image img {
    width: 100%;
    height: auto;
}

.model-page-car-audio-textarea {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    letter-spacing: 0.1rem;
}

.model-page-car-audio-textarea-text {
    width: 100%;
}

.model-page-car-audio-textarea h1 {
    margin-top: -1vw;
    color: orange;
    font-size: 2.9vw;
}

.model-page-car-audio-textarea h2 {
    color: grey;
    font-size: 1.5vw;
}

.model-page-car-audio-textarea p {
    margin-top: -1.5vw;
    letter-spacing: 0.3;
    width: 80%;
}

/*DEALERS*/

.dealer-info-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.dealer-info-card {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background: lightgrey;
    margin: 1%;
    padding: 15px;
}

.dealer-info-card-title {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    color: #F47a14;
}

.dealer-location-contact-section {
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.location-contact {
    width: 33.33%
}

.location-button {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/*END: DEALERS*/

/*BUTTON*/

.button {
    background-color: #F47a14;
    padding: 18px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.button-big {
    padding: 18px 100px;
}

/*END BUTTON*/



.debug {
    border: 2px solid red;
}

.debug1 {
    border: 1px solid blue;
}

.debug2 {
    border: 1px solid green;
}
.debug3 {
    border: 1px solid yellow;
}

